@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Sedan:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Sedan", serif;
    min-height: 100vh;
    background: #111111;
    color: #fff;
}

.heading {
    padding-top: 35px;
    text-align: center;
    font-size: 3rem;
}

.btn {
    margin: 20px auto;
    padding: 15px 60px;
    display: block;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: deepskyblue;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.box {
    width: calc(90vw/4);
    height: 150px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 8px;
    
}